@mixin gradient-text($direction: to bottom, $from-color: #757774, $to-color: #bfc1be) {
  background-image: linear-gradient($direction, $from-color, $to-color);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
@mixin flexbox($align: center, $justify: center, $direction: row, $wrap: nowrap, $gap: 0) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-flow: $direction $wrap;
	gap: $gap
}